<!--HEAD -->
<%- include('head'); -%>

<!-- BODY -->

<body class="code-snippets-visible">

  <div class="container">

    <%- include('header'); -%>
    <%- include('navbar'); -%>

    <div class="docs-section">
      <h1 class="docs-header">Monsieur Lambda</h1>

      <h1 class="docs-header">Informations Générales</h1>
      <div class="row">
        <div class="two columns"><strong>Nom</strong></div>
        <div class="four columns">Monsieur Lambda</div>
        <div class="two columns"><strong>Nom (Joueur)</strong></div>
        <div class="four columns">Jean Michel</div>
      </div>
      <div class="row">
        <div class="two columns"><strong>Espèce</strong></div>
        <div class="four columns">Humain</div>
        <div class="two columns"><strong>Age</strong></div>
        <div class="four columns">30</div>
      </div>
    </div>
    <div class="row">
      <div class="two columns">
        <h1>2</h1>
      </div>
      <div class="two columns">
        <h1>2</h1>
      </div>
      <div class="two columns">
        <h1>2</h1>
      </div>
      <div class="two columns">
        <h1>2</h1>
      </div>
      <div class="two columns">
        <h1>2</h1>
      </div>
      <div class="two columns">
        <h1>2</h1>
      </div>
      <div class="row">
        <div class="two columns"><strong>Vigueur</strong></div>
        <div class="two columns"><strong>Agilité</strong></div>
        <div class="two columns"><strong>Intelligence</strong></div>
        <div class="two columns"><strong>Ruse</strong></div>
        <div class="two columns"><strong>Volonté</strong></div>
        <div class="two columns"><strong>Présence</strong></div>
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Carac.</th>
              <th>Rang</th>
            </tr>
          </thead>
          <tbody>
            <% 
            aptitudeList.forEach(function(element) {
              if(element.categorie=='combat') {%>
            <tr>
              <td><%= element.nom %></td>
              <td><%= element.caracteristique %></td>
              <td>0</td>
            </tr>
            <% }
          }); %>
          </tbody>
        </table>
      </div>
      <div class="four columns">
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Carac.</th>
              <th>Rang</th>
            </tr>
          </thead>
          <tbody>
            <% aptitudeList.forEach(function(element) {
                if(element.categorie=='utilitaire') {%>
            <tr>
              <td><%= element.nom %></td>
              <td><%= element.caracteristique %></td>
              <td>0</td>
            </tr>
            <% }
            }); %>
          </tbody>
        </table>
      </div>
      <div class="four columns">
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Carac.</th>
              <th>Rang</th>
            </tr>
          </thead>
          <tbody>
            <% aptitudeList.forEach(function(element) {
                if(element.categorie=='sociale') {%>
            <tr>
              <td><%= element.nom %></td>
              <td><%= element.caracteristique %></td>
              <td>0</td>
            </tr>
            <% }
            }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>